<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/deposit.css">
    <title></title>
  </head>
  <body>
    <form class="" action="/deposit" method="post">
      <label for=""> Amount: </label>
      <input type="number" name="dep_amnt" value="">
      <button type="submit" name="dep_button"> Deposit </button>
    </form>
    <form class="" action="/" method="get">
      <button type="submit" name="signOut"> Sign Out </button>
    </form>
  </body>
</html>
