<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/withdraw.css">
    <title></title>
  </head>
  <body>
    <form class="" action="/withdraw" method="post">
      <label for=""> Amount: </label>
      <input type="number" name="with_amnt" value="">
      <button type="submit" name="dep_button"> Withdraw </button>
      <form class="" action="/" method="get">
        <button type="submit" name="signOut"> Sign Out </button>
      </form>
    </form>
  </body>
</html>
